<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theorangeteam.sleepingbeauty">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/moon_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/moon_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".android.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".android.ContextService"
            android:enabled="true"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAHwpZkrNfhe20ZIyRHtZHghW1JN0VE_Rk"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHwpZkrNfhe20ZIyRHtZHghW1JN0VE_Rk"/>
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAHwpZkrNfhe20ZIyRHtZHghW1JN0VE_Rk"/>

    </application>

</manifest>